NODE-Red function.txt
[{"id":"e67ab545.ad8008","type":"mqtt out","z":"bf97c886.7b6bf8","name":"","topic":"node/color-game:0/led-strip/-/color/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":970,"y":200,"wires":[]},{"id":"487e2327.3af71c","type":"function","z":"bf97c886.7b6bf8","name":"color hex","func":"var colors = [0x0000ff, 0xff0000, 0xffff00, 0x00ff00, 0xff1493, 0xffffff, 0x000000, 0xff4500, 0x800080, 0x8B4513];\nflow.set('colorArray', colors);","outputs":1,"noerr":0,"x":400,"y":180,"wires":[[]]},{"id":"d1745e06.e24ab","type":"function","z":"bf97c886.7b6bf8","name":"color assembly","func":"var randomNumber = Math.floor(Math.random(flow.get('colorArray').length) * 10);\nvar color = flow.get('colorArray')[randomNumber].toString(16);\nvar zeros = \"\";\nif(color.length != 6)\n{\n    for(var i = 0; i < 6 - color.length; i++)\n    {\n        zeros += \"0\";\n    }\n}\nmsg.payload = \"\\\"\";\nmsg.payload = msg.payload + \"#\" + zeros + color; \nmsg.payload += \"(00)\" + \"\\\"\";\nflow.set('randomNumber', randomNumber);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["e67ab545.ad8008"]]},{"id":"982816a7.42f7d8","type":"inject","z":"bf97c886.7b6bf8","name":"Update colors","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["487e2327.3af71c"]]},{"id":"bc41a15c.1c33f","type":"function","z":"bf97c886.7b6bf8","name":"color name","func":"var en = [\"blue\", \"red\", \"yellow\", \"green\", \"pink\", \"white\", \"black\", \"orange\", \"purple\", \"brown\"];\nvar cz = [\"modra\", \"cervena\", \"zluta\", \"zelena\", \"ruzova\", \"bila\", \"cerna\", \"oranzova\", \"fialova\", \"hneda\"];\nmsg.payload = \"\\\"\";\nswitch(flow.get('namingIndex'))\n{\n    case 0: msg.payload += en[flow.get('randomNumber')]; break;\n    case 1: msg.payload += cz[flow.get('randomNumber')]; break;\n}\nmsg.payload += \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["553c25d0.c47adc"]]},{"id":"187c220d.09721e","type":"inject","z":"bf97c886.7b6bf8","name":"","topic":"","payload":"en","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["23ec6f23.7f939"]]},{"id":"f5eefe16.dd2c3","type":"inject","z":"bf97c886.7b6bf8","name":"","topic":"","payload":"cz","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["23ec6f23.7f939"]]},{"id":"23ec6f23.7f939","type":"function","z":"bf97c886.7b6bf8","name":"color naming","func":"if(msg.payload == \"en\")\nflow.set('namingIndex', 0);\nelse \nflow.set('namingIndex', 1);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[[]]},{"id":"553c25d0.c47adc","type":"mqtt out","z":"bf97c886.7b6bf8","name":"","topic":"node/color-game:0/lcd/-/text/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":950,"y":240,"wires":[]},{"id":"b0206a97.52c938","type":"mqtt in","z":"bf97c886.7b6bf8","name":"","topic":"node/color-game:0/push-button/-/event-count","qos":"2","broker":"e649966c.8c2af8","x":290,"y":220,"wires":[["2412d9b0.b89a36","bce2bc67.a2588"]]},{"id":"2412d9b0.b89a36","type":"delay","z":"bf97c886.7b6bf8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":200,"wires":[["d1745e06.e24ab"]]},{"id":"bce2bc67.a2588","type":"delay","z":"bf97c886.7b6bf8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":240,"wires":[["bc41a15c.1c33f"]]},{"id":"cad202fb.33067","type":"ui_slider","z":"bf97c886.7b6bf8","name":"","label":"brightness","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":190,"y":340,"wires":[["3c9b6f20.a4ad4"]]},{"id":"3c9b6f20.a4ad4","type":"mqtt out","z":"bf97c886.7b6bf8","name":"","topic":"node/color-game:0/led-strip/-/brightness/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":990,"y":340,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]